#body{
    font-family: Arial;
    font-size: 15px;
      background-color: lab(85.51% -6.24 4.5 / 0.129);
      margin-left: 30px;
    padding-right:50px;}
form {
    margin: 15px;
    padding: 50px;
    border: 1px solid #5c9669;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

input[type="number"] {
    width: 80%;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    width: 65%;
    height: 30px;
    background-color: #ff0000;
    color: #fff;
    border: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px;
}

#solution {

    font-weight: bold;
    color: #000000;
    margin-top:20px;
}
#result{
       font-weight: bold;
    margin-top:20px;}
#Result{
       font-weight: bold;
       margin-top:20px;
}
#Answer{
       font-weight: bold;
       margin-top:20px;
       
}

#submit{
    width: 55%;
    height: 30px;
    background-color: #269629;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#submit:hover {

    background-color: #4CAF50;}
